.bgimg{
    background-image: url('./pics/black-background.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 872px;
}

.headerset{
    padding-top: 360px;
    box-sizing: border-box;
}

.headerset h2{
    font-size: 42px;
    font-weight: bold;
}

.headerset h1{
    font-size: 72px;
    font-weight: bold;
}

.nav-link{
    font-size: 22px;
    font-weight: bold;
}

/* --------------------------------- Our Services ----------------------------------- */

.ourservices{
    padding: 100px 0px 60px; /* top-left-right-bottom */
    height: 600px;
}

.ourservices h1{
    font-size: 50px;
    font-weight: bold;
}

.rowsetting{
    margin: 80px 0px !important;
}

.rowsetting p{
    padding: 10px;
    color: #6c757d !important;
}

.rowsetting h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}

.imgsetting{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.fa{
    margin-top: 24px;
}

/* ------------------------------------- PORTFOLIO ------------------------------------- */

.portfolio{
    height: 1300px;
    width: 100%;
    padding: 40px 0px 40px;
}

.portfolio h1{
    font-size: 50px;
    font-weight: bold;
}

.card{
    margin-top: 40px;
}

/* --------------------------------- Our Team ----------------------------------- */

.ourteam{
    height: 600px;
    padding: 40px 0px 40px;
    width: 100%;
}
.ourteam h1{
    font-size: 50px;
    font-weight: bold;
}

.teamsetting{
    margin-top: 50px !important;
}

/* --------------------------------- Footer ----------------------------------- */

.footer{
    height: 50px;
}

.footer h6{
    line-height: 50px;
}

/* --------------------------------- Responsive ----------------------------------- */

@media(min-width: 992px){

}

@media(min-width: 768px) and (max-width: 991px){

}

@media(min-width: 575px) and (max-width: 767px){

}

@media(min-width: 480px) and (max-width: 574px){
    .imglogo{
        height: 48px;
    }
    
    .headerset h2{
        font-size: 22px;
        font-weight: bold;
    }
    
    .headerset h1{
        font-size: 42px;
        font-weight: bold;
    }

    .ourservices{
        height: 1200px;
    }

    .portfolio{
        height: 3370px;
    }

    .ourteam{
        height: 1350px;
    }
}

@media(max-width: 479px){
    .imglogo{
        height: 36px;
    }
    
    .headerset h2{
        font-size: 22px;
        font-weight: bold;
    }
    
    .headerset h1{
        font-size: 42px;
        font-weight: bold;
    }

    .ourservices{
        height: 1200px;
    }

    .portfolio{
        height: 3370px;
    }

    .ourteam{
        height: 1350px;
    }
}









