name = "Vishal munaagekar"

<h2>{{ name | lowercase }}</h2>     <!--  vishal munagekar -->
<h2>{{ name | uppercase }}</h2>     <!--  VISHAL MUNAGEKAR -->
<h2>{{ name | titlecase }}</h2>     <!--  Vishal Munagekar -->
<h2>{{ name | slice:3:5 }}</h2>     <!--  ha -->
<h2>{{ person | json }}</h2>        <!--  { 'name': 'vishal', 'age': 25, 'bdate':'17-01-1995' } -->
<h2>{{ 5.143 | number:'1.2-3' }}</h2>   <!--  5.143 -->
<h2>{{ 5.143 | number:'3.4-5' }}</h2>   <!--  005.14300 -->
<h2>{{ 5.143 | number:'3.1-2' }}</h2>   <!--  005.13 -->
<h2>{{ 0.25 | percent }}</h2>           <!--  25% -->
<h2>{{ 0.25 | currency }}</h2>          <!--  $25 -->
<h2>{{ 0.25 | currency:'EUR' }}</h2>    <!--   -->
<h2>{{ 0.25 | currency:'EUR': 'code' }}</h2>    <!--  EUR 25 -->
<h2>{{ date | date:'short' }}</h2>              <!--  EUR 25 -->
<h2>{{ date | date:'shortDate' }}</h2>
<h2>{{ date | date:'shortTime' }}</h2>