<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/UserHome">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/AdminHome">Admin</a>
        <!-- <a class="nav-item nav-link" routerLink="/User">User</a> -->
        <a class="nav-item nav-link" routerLink="/Login" >Login</a>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
