<div class="container mt-5">
  <small class="text-danger">{{msg}}</small>
  <form #LoginForm="ngForm" (ngSubmit)="login(LoginForm.value)">

    <div class="form-group">
      <label >Email address</label>
      <input ngModel type="email" class="form-control" placeholder="Enter email" name="username">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label >Password</label>
      <input ngModel type="password" class="form-control" placeholder="Password" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

  </form>
</div>

