<div class="container">
  <h1>home works!</h1>

  <div class="form-group col-md-4 mt-5">
    <label for="inputState">District</label>
    <select id="inputState" class="form-control" (change)="getCities($event.target.value)">
      <option *ngFor="let dist of districts" value="{{dist}}">{{dist}}</option>
    </select>
  </div>

  <div class="form-group col-md-4 mt-5">
    <label for="inputState">City</label>
    <select id="inputState" class="form-control">
      <!-- <option selected>Choose...</option> -->
      <option *ngFor="let city of cities">{{city.City}}</option>
    </select>
  </div>

</div>
